@import url(alpha-icon/icon-flag-s.css);

@import url(alpha-balloon/balloon.css);

@import url(scc-bp-message-tip/message-tip.css);

html {
    min-width: 990px;
    width: 100%;
    position: absolute;
}

body {
    background-color: #F4F4F4;
    font-weight: lighter;
    font: Roboto, Helvetica, Tahoma, Arial, "Microsoft YaHei";
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.eh-loading-help {
    vertical-align: middle;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(/images/loading-middle.gif) no-repeat center center;
}

.eh-loading-helper {
    text-align: center;
    height: 200px;
    line-height: 200px;
    background: url(/images/loading-middle.gif) no-repeat center center;
    text-indent: 121px;
}

.eh-dot-class, .eh-left-side .eh-user-name, .eh-right-side-inner .eh-right-list-item .eh-right-item-content .eh-exhibitor-name, .eh-personal-right .eh-personal-name, .eh-personal-right .eh-personal-career {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.eh-middle-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

a.ui2-button-primary,
.ui2-button-primary {
    background: #4569B4;
    border-color: #4569B4;
}

a.ui2-button-primary:hover,
  .ui2-button-primary:hover {
    background: #2F5094;
    border-color: #2F5094;
}

a {
    color: #4569B4;
}

.eh-point-arrow {
    cursor: pointer;
    background: url(/pc/images/full-icon.png) no-repeat;
    background-position: -292px 0;
    height: 10px;
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.eh-point-arrow:hover {
    background-position: -303px 0;
}

.eh-page {
    overflow: hidden;
}

@font-face {
    font-family: 'wbficonregular';
  src: url("/pc/images/wbficon.woff");
}

.eh-left-side {
    vertical-align: top;
    display: table-cell;
    width: 240px;
    border-right: #CFCFCF solid 1px;
}

.eh-left-side .eh-person-header {
    width: 240px;
}

.eh-left-side .eh-phtoto {
    margin: 22px auto 20px;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #D3D6DB;
    line-height: 100px;
    text-align: center;
    font-size: 38px;
}

.eh-left-side .eh-phtoto:hover {
    text-decoration: none;
}

.eh-left-side .eh-person-info {
    text-align: center;
    margin: 10px 18px 0;
    font-size: 12px;
}

.eh-left-side .eh-user-name {
    max-width: 100%;
    font-size: 18px;
    color: #333;
    max-height: 48px;
    overflow: hidden;
}

.eh-left-side .eh-user-career {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.eh-left-side .eh-nav-list {
    width: 240px;
    margin-top: 20px;
}

.eh-left-side .eh-nav-list .eh-nav-item-active, .eh-left-side .eh-nav-list .eh-nav-item:hover, .eh-left-side .eh-nav-list .eh-nav-item.active {
    border-top: solid 1px #CFCFCF;
    border-bottom: solid 1px #CFCFCF;
    border-left: solid 6px #F6C127;
}

.eh-left-side .eh-nav-list .eh-nav-item-active .eh-nav-link, .eh-left-side .eh-nav-list .eh-nav-item:hover .eh-nav-link, .eh-left-side .eh-nav-list .eh-nav-item.active .eh-nav-link {
    color: #333;
    font-weight: bold;
}

.eh-left-side .eh-nav-list .eh-nav-item {
    cursor: pointer;
    font-size: 18px;
    background: url(../../../images/left-marker.png) center center no-repeat;
    border-left: solid 6px #F4F4F4;
    border-top: solid 1px #F4F4F4;
    border-bottom: solid 1px #F4F4F4;
    font-weight: lighter;
}

.eh-left-side .eh-nav-list .eh-nav-item.eh-nav-zone {
    background-position: 51px 10px;
}

.eh-left-side .eh-nav-list .eh-nav-item.eh-nav-connect {
    background-position: 51px -42px;
}

.eh-left-side .eh-nav-list .eh-nav-item.eh-nav-message {
    background-position: 51px -97px;
}

.eh-left-side .eh-nav-list .eh-nav-item.eh-nav-watch {
    background-position: 51px -153px;
}

.eh-left-side .eh-nav-list .eh-nav-item.eh-nav-schedule {
    background-position: 51px -209px;
}

.eh-left-side .eh-nav-list .eh-nav-item.eh-nav-account {
    background-position: 51px -268px;
}

.eh-left-side .eh-nav-list .eh-nav-item .eh-nav-link {
    display: block;
    text-indent: 98px;
    height: 48px;
    line-height: 48px;
    color: #666;
}

.eh-left-side .eh-nav-list .eh-nav-item .eh-nav-link:hover {
    text-decoration: none;
}

.eh-middle-side {
    display: table-cell;
    vertical-align: top;
}

.eh-right-side {
    display: table-cell;
    width: 280px;
    vertical-align: top;
}

html {
    min-width: 990px;
    width: 100%;
    position: absolute;
}

body {
    background-color: #F4F4F4;
    font-weight: lighter;
    font: Roboto, Helvetica, Tahoma, Arial, "Microsoft YaHei";
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.eh-loading-help {
    vertical-align: middle;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(/images/loading-middle.gif) no-repeat center center;
}

.eh-loading-helper {
    text-align: center;
    height: 200px;
    line-height: 200px;
    background: url(/images/loading-middle.gif) no-repeat center center;
    text-indent: 121px;
}

.eh-dot-class, .eh-left-side .eh-user-name, .eh-right-side-inner .eh-right-list-item .eh-right-item-content .eh-exhibitor-name, .eh-personal-right .eh-personal-name, .eh-personal-right .eh-personal-career {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.eh-middle-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

a.ui2-button-primary,
.ui2-button-primary {
    background: #4569B4;
    border-color: #4569B4;
}

a.ui2-button-primary:hover,
  .ui2-button-primary:hover {
    background: #2F5094;
    border-color: #2F5094;
}

a {
    color: #4569B4;
}

.eh-point-arrow {
    cursor: pointer;
    background: url(/pc/images/full-icon.png) no-repeat;
    background-position: -292px 0;
    height: 10px;
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.eh-point-arrow:hover {
    background-position: -303px 0;
}

.eh-page {
    overflow: hidden;
}

@font-face {
    font-family: 'wbficonregular';
  src: url("/pc/images/wbficon.woff");
}

.eh-recommend-list {
    margin: 45px 0;
    font-size: 0;
    display: table;
}

.eh-recommend-list .eh-recommend-item {
    position: relative;
    display: table-cell;
    width: 33.33%;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
    vertical-align: top;
}

.eh-recommend-list .eh-recommend-item .eh-recommend-item-inner {
    border: solid 1px #E0E0E0;
    vertical-align: top;
    margin: 0 9px;
}

.eh-recommend-list .eh-recommend-item.eh-recommend-item-first .eh-recommend-item-inner {
    margin-right: 9px;
    margin-left: 0;
}

.eh-recommend-list .eh-recommend-item.eh-recommend-item-last .eh-recommend-item-inner {
    margin-right: 0;
    margin-left: 9px;
}

.eh-recommend-list .eh-recommend-up {
    margin: 25px 26px 15px;
}

.eh-recommend-list .eh-recommend-up .eh-item-date {
    font-size: 12px;
    color: #666;
}

.eh-recommend-list .eh-recommend-up .eh-item-title {
    font-size: 20px;
    color: #666;
    margin-top: 10px;
    height: 53px;
    overflow: hidden;
}

.eh-recommend-list .eh-recommend-up .eh-item-gap {
    display: block;
    border: none;
    border-bottom: solid 1px #9F9F9F;
    width: 85px;
    margin-top: 10px;
}

.eh-recommend-list .eh-recommend-up .eh-item-category {
    margin-top: 16px;
    height: 48px;
    overflow: hidden;
}

.eh-recommend-list .eh-recommend-up .eh-item-location {
    margin-top: 0;
    display: table;
    height: 31px;
    overflow: hidden;
    width: 100%;
}

.eh-recommend-list .eh-recommend-up .eh-item-location .eh-location-marker {
    display: table-cell;
    width: 13px;
    height: 16px;
}

.eh-recommend-list .eh-recommend-up .eh-item-location .eh-location-name {
    display: table-cell;
    padding-left: 5px;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
}

.eh-recommend-list .eh-recommend-up .eh-item-info {
    margin-top: 20px;
    height: 82px;
    overflow: hidden;
}

.eh-recommend-list .eh-recommend-down {
    margin-top: 0;
    width: 100%;
    height: 207px;
}

.eh-recommend-list .eh-recommend-down img {
    width: 100%;
}

.eh-no-result-gap {
    margin-top: 65px;
    height: 0;
    border-top: solid 1px #999;
    text-align: center;
}

.eh-no-result-gap .eh-middle-gap-content {
    display: inline-block;
    padding: 0 17px;
    background: #F4F4F4;
    font-size: 24px;
    position: relative;
    height: 24px;
    line-height: 24px;
    top: -9px;
    color: #666;
}

.eh-dashboard {
    color: #333;
    display: table;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: solid 1px #CFCFCF;
}

.eh-content-inner {
    margin: 38px 20px 44px 20px;
}

.eh-todo-list {
    font-size: 0;
}

.eh-todo-list .eh-todo-list-item {
    font-size: 14px;
    display: inline-block;
    width: 33.33%;
}

.eh-todo-list .eh-todo-list-item .eh-todo-inner {
    display: block;
    color: #fff;
    border-radius: 5px;
    height: 87px;
    text-decoration: none !important;
    background: #4569B4 no-repeat center center;
    background-size: 227px 100%;
}

.eh-todo-list .eh-todo-list-item .eh-todo-inner .eh-todo-item-title {
    padding: 16px 0 0 25px;
}

.eh-todo-list .eh-todo-list-item .eh-todo-inner .eh-todo-item-num {
    margin: 6px 0 0 25px;
    font-size: 36px;
}

.eh-todo-list .eh-todo-list-item.eh-todo-watch .eh-todo-inner {
    margin-right: 6px;
    background-image: url(./images/list-normal.png);
}

.eh-todo-list .eh-todo-list-item.eh-todo-watch .eh-todo-inner:hover {
    background-image: url(./images/list-hover.png);
    background-color: #32519D;
}

.eh-todo-list .eh-todo-list-item.eh-todo-connections .eh-todo-inner {
    margin: 0 3px;
    background-image: url(./images/connect-normal.png);
}

.eh-todo-list .eh-todo-list-item.eh-todo-connections .eh-todo-inner:hover {
    background-image: url(./images/connect-hover.png);
    background-color: #32519D;
}

.eh-todo-list .eh-todo-list-item.eh-todo-messages .eh-todo-inner {
    margin-left: 6px;
    background-image: url(./images/message-normal.png);
}

.eh-todo-list .eh-todo-list-item.eh-todo-messages .eh-todo-inner:hover {
    background-image: url(./images/connect-hover.png);
    background-color: #32519D;
}

.eh-scedule {
    border: solid #CFCFCF 1px;
    background: #fff;
    margin-top: 15px;
}

.eh-scedule .eh-scedule-header {
    height: 45px;
    line-height: 45px;
}

.eh-scedule .eh-scedule-header .eh-scedule-link {
    float: right;
    display: block;
    height: 16px;
    line-height: 16px;
    background: url(../../../images/scedule.png) no-repeat left center;
    padding-left: 23px;
    position: relative;
    top: 16px;
    margin-right: 20px;
    z-index: 9;
    cursor: pointer;
}

.eh-scedule .eh-scedule-header .eh-scedule-header-title {
    font-size: 18px;
    color: #666;
    margin-left: 22px;
    position: relative;
    top: 4px;
}

.eh-scedule .eh-exhibition-item {
    border-top: solid 1px #E5E5E5;
}

.eh-scedule .eh-scedule-content {
    margin: 18px 20px 15px;
}

.eh-scedule .eh-scedule-content .eh-scedule-date {
    text-align: right;
    color: #999;
}

.eh-scedule .eh-scedule-content .eh-scedule-detail {
    position: relative;
}

.eh-scedule .eh-scedule-content .eh-scedule-detail .eh-overdue {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    height: 16px;
    line-height: 16px;
    padding-left: 22px;
    background: url(./images/overdue.png) left center no-repeat;
}

.eh-scedule .eh-scedule-content .eh-scedule-detail-title {
    color: #333;
    max-height: 63px;
    overflow: hidden;
    display: block;
    margin-right: 146px;
}

.eh-scedule .eh-scedule-content .eh-title-big {
    font-size: 18px;
}

.eh-scedule .eh-scedule-content .eh-title-middle {
    font-size: 18px;
}

.eh-scedule .eh-scedule-content .eh-info-list {
    margin-top: 15px;
    list-style-type: none;
    margin-left: 7px;
}

.eh-scedule .eh-scedule-content .eh-info-list .eh-info-item {
    color: #666;
    font-size: 14px;
    height: 26px;
}

.eh-scedule .eh-scedule-content .eh-info-list .eh-info-item-content {
    margin-left: 5px;
}

.eh-scedule .eh-scedule-content .eh-info-list .eh-info-item-content.eh-location {
    display: inline-block;
    background: url(../../../images/location-marker.png) no-repeat left center;
    padding-left: 15px;
    height: 16px;
    line-height: 17px;
}

.eh-scedule .eh-scedule-content .eh-info-list .eh-link-small {
    color: #1686CC;
}

.eh-scedule .eh-exhibition-photos {
    display: table;
    list-style-type: none;
    font-size: 0;
    margin-top: 5px;
}

.eh-scedule .eh-exhibition-photos .eh-exhibition-photo {
    display: table-cell;
    padding: 0 5px;
    background: no-repeat center center;
    background-size: 100% 100%;
}

.eh-scedule .eh-exhibition-photos .eh-exhibition-photo .ex-exhibition-pic {
    height: 105px;
}

.eh-scedule .eh-scedule-footer {
    height: 58px;
    line-height: 58px;
    background-color: #F9F9F9;
    border-top: #EEEEEE solid 1px;
}

.eh-scedule .eh-scedule-footer .eh-exhibitors-title {
    display: inline-block;
    margin-left: 20px;
}

.eh-scedule .eh-scedule-footer .eh-exhibitors-num {
    font-size: 22px;
    color: #1686CC;
}

.eh-scedule .eh-scedule-footer .eh-exhibitors-other {
    font-size: 12px;
    color: #999;
}

.eh-scedule .eh-scedule-footer .eh-exhibitors-list {
    font-size: 0;
    float: right;
    position: relative;
    top: 0;
    margin-right: 10px;
}

.eh-scedule .eh-scedule-footer .eh-exhibitors-list .eh-item-conmmon, .eh-scedule .eh-scedule-footer .eh-exhibitors-list .eh-exhibitor-photo, .eh-scedule .eh-scedule-footer .eh-exhibitors-list .eh-exhibitor-dot {
    font-size: 14px;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: no-repeat center center;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    background-size: 100% 100%;
    vertical-align: middle;
}

.eh-scedule .eh-scedule-footer .eh-exhibitors-list .eh-exhibitor-photo {
    background-color: #D3D6DB;
    border: solid 1px #EEE;
}

.eh-scedule .eh-scedule-footer .eh-exhibitors-list .eh-exhibitor-dot {
    border: solid 1px #EEE;
    background-image: url(../../../images/exhibitor-dot.png);
}

.eh-scedule .eh-scedule-footer .eh-exhibitors-list .eh-exhibitor-dot a {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.eh-right-side-inner {
    display: block;
    margin: 38px 20px 0 0;
    border: solid 1px #C5C5C5;
    text-decoration: none !important;
}

.eh-right-side-inner .eh-right-header {
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #ccc;
}

.eh-right-side-inner .eh-right-header .eh-right-title {
    margin-left: 13px;
    font-size: 14px;
    color: #666;
    display: inline-block;
    position: relative;
}

.eh-right-side-inner .eh-right-header .eh-right-title .eh-new-marker {
    display: inline-block;
    width: 34px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    font-size: 10px;
    position: absolute;
    right: -37px;
    top: 6px;
    background: url(../../../images/new-marker.png) no-repeat left top;
    text-align: center;
}

.eh-right-side-inner .eh-right-list-item {
    margin: 0 10px;
    padding: 12px 0;
    border-bottom: dashed 1px #D7D7D7;
    font-size: 0;
}

.eh-right-side-inner .eh-right-list-item .eh-right-item-photo {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 82px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    background: no-repeat center center;
    background-size: 100% 100%;
    background-color: #D3D6DB;
}

.eh-right-side-inner .eh-right-list-item .eh-right-item-content {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    margin-left: 12px;
}

.eh-right-side-inner .eh-right-list-item .eh-right-item-content .eh-exhibitor-name {
    color: #666;
    margin-bottom: 7px;
    height: 19px;
    word-wrap: break-word;
}

.eh-right-side-inner .eh-right-list-item .eh-right-item-content .eh-exhibitor-content {
    list-style-type: none;
}

.eh-right-side-inner .eh-right-list-item .eh-right-item-content .eh-exhibitor-detail {
    margin-top: 3px;
    font-size: 10px;
    color: #999;
}

.eh-right-side-inner .eh-right-list-item .eh-right-item-content .eh-exhibitor-detail.eh-exhibitor-detail-sec {
    height: 29px;
    overflow: hidden;
}

.eh-right-side-inner .eh-right-list .eh-right-list-item:last-child {
    border-bottom: none;
}

.eh-country {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
}

.eh-personal-info {
    display: table;
    width: 100%;
}

.eh-left-photo-par {
    width: 60px;
    display: table-cell;
    vertical-align: middle;
}

.eh-left-photo-par .eh-left-photo {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #D3D6DB;
    background-size: 100% 100%;
    font-size: 18px;
}

.eh-personal-right {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    text-align: left;
}

.eh-personal-right .eh-personal-name {
    max-width: 200px;
    font-size: 14px;
    max-height: 32px;
    overflow: hidden;
}

.eh-personal-right .eh-personal-career {
    max-width: 200px;
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    max-height: 30px;
}

.eh-personal-right .eh-personal-company {
    max-width: 200px;
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    max-height: 30px;
    overflow: hidden;
}

.eh-no-result {
    display: none;
    margin: 30px 0;
    text-align: center;
    color: #666;
}

.eh-no-result .eh-no-result-inner {
    display: inline-block;
    width: 196px;
    height: 224px;
    background: url(./images/no-result.png) no-repeat center center;
    background-size: 100% 100%;
}

.eh-no-result .eh-no-result-text {
    margin-top: 26px;
    font-size: 12px;
    color: #666;
}

@media screen and (max-width: 1200px) {
    .eh-right-side {
        display: none;
    }
}

.eh-info-item-title {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    color: #999;
}
