@import "../../../hotcss/px2rem.scss";

.eh-go-top {
    display: block;
    position: fixed;
    bottom: px2rem(50);
    right: px2rem(20);
    z-index: 99;
    width: px2rem(50);
    height: px2rem(50);
    background: url(/mobile/common/components/go-top/images/go-top.png) no-repeat center center;
    background-size: 100% 100%;
}
