@charset "UTF-8";

html {
    font-family: Roboto, Helvetica, Tahoma, Arial, "Microsoft YaHei";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

html,
body {
    margin: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.28571;
    background-color: #F4F4F4;
    color: #333;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

a,
input,
textarea,
select,
button {
    outline: 0;
}

a {
    color: #0894ec;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a:active {
    color: #0a8ddf;
}

em {
    font-style: normal;
}

ul {
    list-style-type: none;
    -webkit-padding-start: 0;
}

i.icon {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
}

.util-clearfix:after {
    visibility: hidden;
    display: block;
    height: 0;
    font-size: 0;
    content: '\0020';
    clear: both;
}

.util-clearfix {
    zoom: 1;
}

.eh-search-header {
    position: relative;
    height: 1.36533rem;
    line-height: 1.36533rem;
    margin: 0 0.98133rem;
    position: relative;
    top: 0.42667rem;
}

.eh-search-header .eh-refine {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.36267rem;
    width: 0.896rem;
    height: 0.72533rem;
    background: url("//img.alicdn.com/tps/TB1hGs_LVXXXXaHXFXXXXXXXXXX-21-16.png") center center no-repeat;
    background-size: 100%;
}

.eh-search-header .eh-search {
    position: relative;
    margin: 0 2.09067rem 0 1.536rem;
    border-radius: 0.68267rem;
    border: solid 1px #fff;
    background: rgba(255, 255, 255, 0.3);
}

.eh-search-header .eh-search .eh-search-marker {
    display: block;
    position: absolute;
    left: 0.768rem;
    width: 0.68267rem;
    height: 0.768rem;
    top: 50%;
    margin-top: -0.384rem;
    background: url(../../images/search-button.png) center center no-repeat;
    background-size: 100%;
}

.eh-search-header .eh-search .eh-search-inp {
    margin-left: 1.83467rem;
    margin-right: 0.42667rem;
    font-size: 0.76rem;
    border: none;
    width: 7.68rem;
    background: transparent;
    color: #fff;
    position: relative;
    top: -0.08533rem;
}

.eh-search-header .eh-search .eh-search-inp::-webkit-input-placeholder {
    color: #fff;
}

.eh-search-header .eh-search .eh-search-inp:-moz-placeholder {
    color: #fff;
}

.eh-search-header .eh-search .eh-search-inp:-ms-input-placeholder {
    color: #fff;
}

.eh-search-header .eh-login {
    position: absolute;
    right: 0;
    top: 50%;
    width: 1.45067rem;
    height: 0.64rem;
    line-height: 0.64rem;
    margin-top: -0.32rem;
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
}
