@charset "UTF-8";

html {
    font-family: Roboto, Helvetica, Tahoma, Arial, "Microsoft YaHei";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

html,
body {
    margin: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.28571;
    background-color: #F4F4F4;
    color: #333;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

a,
input,
textarea,
select,
button {
    outline: 0;
}

a {
    color: #0894ec;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a:active {
    color: #0a8ddf;
}

em {
    font-style: normal;
}

ul {
    list-style-type: none;
    -webkit-padding-start: 0;
}

i.icon {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
}

.util-clearfix:after {
    visibility: hidden;
    display: block;
    height: 0;
    font-size: 0;
    content: '\0020';
    clear: both;
}

.util-clearfix {
    zoom: 1;
}

.eh-header {
    font-size: 0.59733rem;
    height: 2.048rem;
    line-height: 2.048rem;
    background: #373838;
    display: table;
    width: 100%;
}

.eh-header .eh-header-filter {
    display: table-cell;
    text-align: center;
    padding: 0 0.256rem;
}

.eh-header .eh-header-filter .eh-header-filter-marker {
    display: inline-block;
    width: 0.896rem;
    height: 0.72533rem;
    background: url("//img.alicdn.com/tps/TB1B3SbMXXXXXcdXXXXXXXXXXXX-105-80.png") no-repeat center center;
    background-size: 100% 100%;
    vertical-align: middle;
}

.eh-header .eh-header-search {
    display: table-cell;
    position: relative;
    text-align: center;
    padding: 0 0.64rem;
}

.eh-header .eh-header-search .eh-search-inp {
    font-size: 0.7rem;
    color: #fff;
    height: 1.36533rem;
    line-height: 1.36533rem;
    border: none;
    border-bottom: solid 1px #fff;
    background-color: transparent;
    width: 100%;
    position: relative;
    top: -0.17067rem;
    vertical-align: middle;
}

.eh-header .eh-header-search .eh-search-btn {
    display: inline-block;
    width: 1.28rem;
    height: 1.28rem;
    background: url("//img.alicdn.com/tps/TB1Ebl3MXXXXXclXFXXXXXXXXXX-165-165.png") no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    right: 0.55467rem;
    top: 50%;
    margin-top: -0.85333rem;
    vertical-align: middle;
}
