#eh-search-404
{
    background: #fff;
}
.eh-no-content-show {
    display: none;
    background: #fff;
}

.eh-no-content-show {
    padding-top: 83px;
    max-width: 100%;
    overflow: hidden;
}

.eh-no-result {

    .eh-no-result-left {
        display: block;
        width: px2rem(100);
        height: px2rem(100);
        vertical-align: middle;
        background: url(/mobile/images/no-result.png) no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto;
    }

    .eh-no-result-right {
        display: inline-block;
        font-size: px2rem(18);
        margin-left: 32px;
        margin-top: px2rem(20);
    }
}
.eh-no-result-gap
{
    padding-top: px2rem(20);
    text-align: center;
    padding-bottom: px2rem(20);
    border-bottom: 2px solid #eaeaea;
}
.eh-middle-gap-content
{
    font-size: px2rem(18);
    color: #333333;
}
.eh-item-category
{
    font-size: px2rem(15);
    margin-bottom: px2rem(17);
}
.eh-recommend-up
{
    font-size: px2rem(14);
    color: #666666;
    line-height: px2rem(18);
    padding-left: px2rem(14);
    padding-right: px2rem(14);
    background: #fff;
    .eh-item-date
    {
        font-size: px2rem(12);
        color: #737373;
    }
    .eh-item-title
    {
        font-size: px2rem(22);
        margin-top: px2rem(16);
        margin-bottom: px2rem(18);
    }
    .eh-location-name
    {
        font-size: px2rem(16);
        margin-bottom: px2rem(18);
        display: inline-block;
    }
    .eh-item-info
    {
        display: inline-block;
        font-size: px2rem(14);
        line-height: px2rem(18);
    }
}
.eh-recommend-down
{
    width: 100%;
    overflow: hidden;
    margin-bottom: px2rem(20);
    img{
        width: 100%;
    }
}