@import "alpha-pagination/pagination.css";
@import "../../../common/css/common.scss";
@import "scc-bp-message-tip/message-tip.css";
@import "../../../common/css/no-result.scss";
$rightImgWidth: 360px;
$leftImgWidth: 200px;
$rightImgHeight: 250px;

.eh-page * {
    color: $fontColor;
}

.eh-dsn {
    display: none !important;
}

.eh-gap-line {
    border: none;
    border-bottom: dashed 1px $dottedBorderColor;
}

// 内容部分的布局
.eh-content {
    display: table;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: $bgColor;
    left: 0;
    overflow-x: hidden;

    .eh-left-side {
        display: table-cell;
        width: $leftSideWidth;
        border: none;
        border-right: solid 1px $borderColor;
        vertical-align: top;

        // 左侧部分样式
        .eh-left-container {
            width: 240px;
            padding-top: 27px;

            .eh-sub-container-common {
                margin: 0 30px;
            }

            .eh-left-filter-header {
                @extend .eh-sub-container-common;
                background: url(../../../images/filter-marker.png) no-repeat left center;
                padding-left: 20px;
                font-size: $fontSize20;
                height: 18px;
                line-height: $fontSize20;
            }

            // 国家与类别header & content & item样式一致
            .eh-filter-header {
                @extend .eh-sub-container-common;
                font-size: $fontSize18;
                margin-top: 20px;
            }

            .eh-filter-content {
                margin: 10px 5px 8px 38px;
                max-height: 250px;
                overflow-y: auto;
            }

            .eh-filter-item {
                cursor: pointer;
                padding: 5px 0;
            }

        }

    }

    .eh-right-side {
        display: table-cell;

        .eh-right-side-content {
            overflow: hidden;
        }

    }

    .eh-right-content {
        min-height: 300px;
        margin: 30px 50px;

        // 标题头部分
        .eh-result-proption {
            .eh-search-number {
                font-size: $fontSize36;
                vertical-align: middle;
            }

            .eh-result-name {
                font-size: 22px;
            }

        }

        // 搜索列表部分
        .eh-content-list {
            width: 100%;
            margin-right: 230px;
        }

        .eh-list-item {
            cursor: pointer;
            margin-top: 16px;
            border: solid 1px $borderColor;
            background: #fff;
            height: $rightImgHeight;
            overflow: hidden;

            &:hover {
                box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.13);
                border-bottom: 1px solid #fff;

                .eh-list-item-header {
                    text-decoration: underline;
                }

            }

        }

        .eh-list-item-sub {
            display: table;
            width: 100%;
            overflow: hidden;
        }

        .eh-sub-left {
            display: table-cell;
            padding: 30px 20px 30px 20px;
            border: none;
            border-right: #E0E0E0 solid 1px;
            position: relative;

            .eh-collection-btn {
                position: absolute;
                top: 17px;
                right: 15px;
                display: block;
                width: 22px;
                height: 19px;
                background: url(../../../images/css-sprite.png) 0 0 no-repeat;

                &.active {
                    background-position: 0 -22px;
                }

            }

            // 公司头
            .eh-list-item-header {
                display: block;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                    color: #333;
                }

                .eh-company-name,
                .eh-company-category {
                    font-size: $fontSize18;
                }
                .eh-company-name
                {
                    font-weight: bold;
                }

            }

            .eh-company-info {
                list-style-type: none;

                * {
                    color: #333333;
                }

                .eh-history-ehibition {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    margin-right: 5px;
                    background: no-repeat center center;
                    background-size: 100% 100%;
                }
                .eh-info-item-left
                {
                    color: #999999;
                    display: inline-block;
                    width: 130px;
                }

            }

        }

        .eh-sub-right {
            display: table-cell;
            text-align: center;
            vertical-align: top;
            width: $rightImgWidth;
            font-size: 0;
            height: $rightImgHeight;

            .eh-product-img-left {
                border-right: $borderColor solid 1px;
                display: table-cell;
                width: $leftImgWidth;
                height: 100%;
                vertical-align: middle;
            }

            .eh-product-img-right {
                display: table-cell;
                width: $rightImgWidth - $leftImgWidth -1;
                height: $rightImgHeight;
                vertical-align: top;

                .eh-product-small {
                    height: 50%;
                }

                .eh-product-small:first-child {
                    border-bottom: $borderColor solid 1px;
                }

            }

        }

    }

    // 底部分页栏
    .eh-pagination {
        margin-top: 28px;
    }

    // 左侧过滤状态部分
    .eh-filtered-status {
        display: none;
        border-radius: 18px;
        height: 25px;
        line-height: 25px;
        border: solid 1px $borderColor;
        position: relative;
        margin: 17px 20px 0 30px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);

        // 关闭按钮
        .eh-close-filetred {
            position: absolute;
            top: 50%;
            right: 3px;
            margin-top: -9px;
            display: block;
            width: 18px;
            height: 18px;
            cursor: pointer;
            background: url(../../../images/filter-close.png) no-repeat center center;
        }

        .eh-selected-content {
            margin-left: 10px;
        }

    }

    .eh-content-show,
    .eh-no-content-show {
        display: none;
        // margin: 30px 50px;
    }

    .eh-no-content-show {
        margin-top: 83px;
    }

    .eh-no-result {
        text-align: center;

        .eh-no-result-left {
            display: inline-block;
            width: 222px;
            height: 222px;
            vertical-align: middle;
            background: url(../../../images/no-result.png) no-repeat center center;
        }

        .eh-no-result-right {
            display: inline-block;
            height: 222px;
            line-height: 222px;
            font-size: $fontSize22;
            margin-left: 32px;
        }

        @media screen and (max-width:1155px) {
            .eh-no-result-right {
                height: 100px;
                line-height: 100px;
            }

        }

    }

    .eh-no-result-gap {
        margin-top: 65px;
        height: 0;
        border-top: solid 1px #999;
        text-align: center;

        .eh-middle-gap-content {
            display: inline-block;
            padding: 0 17px;
            background: $bgColor;
            font-size: $fontSize24;
            position: relative;
            height: 24px;
            line-height: 24px;
            top: -9px;
            color: $lightFontColor;
        }

    }

    .eh-right-two-pics-item {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: $rightImgWidth / 2;
        height: $rightImgHeight;

        &.eh-right-two-pics-border {
            border-right: solid 1px $dottedBorderColor;
        }

        .eh-product-img-two {
            width: 160px;
        }

    }

    .eh-three-pics-first {
        max-width: $leftImgWidth - 10;
        max-height: $rightImgHeight;
    }

    .eh-three-pics-second,
    .eh-three-pics-third {
        max-width: $rightImgWidth - $leftImgWidth - 10;
        max-height: $rightImgHeight / 2 - 10;
    }

}

.ui2-loading-mask {
    background: $bgColor;
}

.eh-right-product-img {
    max-width: $rightImgWidth;
    max-height: $rightImgHeight;
}

.eh-company-name em {
    color: $orangeColor;
}

.eh-shrink {
    display: none;
    background: #fff;

    .eh-refine-list {
        .eh-refine-item {
            padding: 16px 0;
            text-align: center;
            width: 65px;
            border-bottom: solid 1px #E0E0E0;
            cursor: pointer;

            .eh-refine {
                display: inline-block;
                width: 19px;
                height: 20px;
                background: url(./images/refine-shrink.png) no-repeat center;
                background-size: 100%;
            }

            .eh-country {
                display: inline-block;
                width: 32px;
                height: 32px;
                background: url(./images/refine-country.png) no-repeat center;
                background-size: 100%;
            }

            .eh-industry {
                display: inline-block;
                width: 32px;
                height: 20px;
                background: url(./images/refine-industry.png) no-repeat center;
                background-size: 100%;
            }

        }

    }

}

.eh-company-info-item {
    margin-top: 10px;
}

.eh-info-item-right {
    font-size: $fontSize12;
    vertical-align: middle;
    display: inline-block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 320px;
    font-size: 14px;
    color: #333333;

    &.eh-location {
        display: inline-block;
        //padding-left: 15px;
        height: 16px;
        line-height: 16px;
        //background: url(../../../images/location-marker.png) no-repeat left top;
    }

    &.eh-connect {
        display: inline-block;
        padding-left: 19px;
        height: 16px;
        line-height: 16px;
        background: url(../../../images/connect-marker.png) no-repeat left top;
    }

    em {
        color: $orangeColor !important;
    }

}

.eh-conneted-item {
    position: absolute;
    bottom: 15px;
    right: 12px;
    display: none;
}

.eh-content.eh-content-shrink {
    .eh-left-side {
        display: block;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 65px !important;
        overflow: visible;
        background: #fff;
        z-index: 9;

        .eh-left-container {
            position: relative;
            background: #fff;
            height: 100%;
            width: 65px;
            border-right: solid 1px #ddd;
        }

    }

    .eh-right-side {
        display: block;
        margin-left: 65px;
    }

    .eh-expand {
        display: none;
        position: relative;

        // 缩回
        .eh-refine-shrink {
            position: absolute;
            width: 19px;
            height: 20px;
            background: url(./images/refine-shrink-return.png) no-repeat center;
            background-size: 100%;
            right: 10px;
            top: 0;
            cursor: pointer;
        }

    }

    .eh-shrink {
        display: block;
    }

}
