@import "./common.scss";

$marginWidth: 9px;
$rightImgWidth: 360px;
$leftImgWidth: 200px;
$rightImgHeight: 250px;

.eh-recommend-list {
    margin: 45px 0;
    font-size: 0;
    display: table;

    .eh-recommend-item {
        position: relative;
        display: table-cell;
        width: 33.33%;
        height: 100%;
        font-size: $fontSize14;
        overflow: hidden;
        vertical-align: top;

        .eh-recommend-item-inner {
            border: solid 1px #E0E0E0;
            vertical-align: top;
            margin: 0 $marginWidth;
        }

    }

    .eh-recommend-item.eh-recommend-item-first .eh-recommend-item-inner {
        margin-right: $marginWidth;
        margin-left: 0;
    }

    .eh-recommend-item.eh-recommend-item-last .eh-recommend-item-inner {
        margin-right: 0;
        margin-left: $marginWidth;
    }

    .eh-recommend-up {
        margin: 25px 26px 15px;

        .eh-item-date {
            font-size: $fontSize12;
            color: $lightFontColor;
        }

        .eh-item-title {
            font-size: $fontSize20;
            color: $lightFontColor;
            margin-top: 10px;
            height: 53px;
            overflow: hidden;
        }

        .eh-item-gap {
            display: block;
            border: none;
            border-bottom: solid 1px #9F9F9F;
            width: 85px;
            margin-top: 10px;
        }

        .eh-item-category {
            margin-top: 16px;
            height: 48px;
            overflow: hidden;
        }

        .eh-item-location {
            margin-top: 0;
            display: table;
            height: 31px;
            overflow: hidden;
            width: 100%;

            .eh-location-marker {
                display: table-cell;
                width: 13px;
                height: 16px;
                /*
                background: url(../../../images/location-marker.png) no-repeat left center;
                */
            }

            .eh-location-name {
                display: table-cell;
                padding-left: 5px;
                height: 100%;
                line-height: 100%;
                vertical-align: middle;
            }

        }

        .eh-item-info {
            margin-top: 20px;
            height: 82px;
            overflow: hidden;
        }

    }

    .eh-recommend-down {
        margin-top: 0;
        width: 100%;
        height: 207px;
        img
        {
            width: 100%;
        }
        /*
        background: url(../../../images/eh-building.png) no-repeat center center;
        */
    }

}
.eh-no-result-gap {
    margin-top: 65px;
    height: 0;
    border-top: solid 1px #999;
    text-align: center;
    .eh-middle-gap-content {
        display: inline-block;
        padding: 0 17px;
        background: $bgColor;
        font-size: $fontSize24;
        position: relative;
        height: 24px;
        line-height: 24px;
        top: -9px;
        color: $lightFontColor;
    }
}
